{% extends 'base.html' %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            {{ form.title }}
            {{ form.content }}
            {{ form.click }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form.file1 }}
            {{ form.file2 }}
            {{ form.file3 }}
            {{ form.file4 }}
            {{ form.file5 }}
            <input type="submit" class="btn btn-primary" value="儲存">
        </div>
    </div>
</form>
<br />
{% endblock  %}